
<div class="relative hero h-screen" style="background-color: #FDF8FF; " >
  <div class="flex-col hero-content lg:flex-row-reverse pt-0 pb-36	">
    <img src="../../assets/nft.png" class="max-w-sm rounded-lg shadow-2xl pt-0">
    <div class="pt-0">
      <h1 class="mb-5 text-5xl font-bold">
        Create, sell or collect<br> digital items
          </h1>
      <p class="mb-5">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. <br>In deleniti eaque aut repudiandae et a id nisi.
          </p>
          <div class="flex space-x-5 ">
            <button class="btn w-32 h-4">Explore</button>
            <button class="btn w-32 h-4 btn-outline" >
              <a routerLink="/create">Create</a>
            </button>
          </div>
    </div>
  </div>
</div>
