<div class="bg-white-800 mb-12" >
  <h1 class="text-center font-bold text-slate-900 text-4xl" >Create, Sell and Buy Any Property</h1>
  <p class="text-center font-sans mt-5 text-slate-600" >This is just a simple text made for this unique and awesome template, you can replace it with any text.<br> It is a long established fact</p>
</div>

<div class="flex justify-between m-32 ">

  <div class="b-5 ml-12" >
    <img src="../../assets/wallet.png" alt="" class="w-24 h-24 b-5 mb-12 mx-24" >
    <h1 class="text-center font-bold text-slate-700 text-xl" >Set up your wallet</h1>
    <p class="text-center font-sans mt-5 text-slate-600" >
      Once you’ve set up your wallet of choice, connect it to EnftyMart by clicking the
    </p>
  </div>

  <div class="b-5 ml-12">
    <img src="../../assets/realestate.png" alt="" class="w-24 h-24 b-5 mb-12 mx-24" >
    <h1  class="text-center font-bold text-slate-700 text-xl" >Create your listing</h1>
    <p class="text-center font-sans mt-5 text-slate-600" >
      Once you’ve set up your wallet of choice, connect it to EnftyMart by clicking the
    </p>
  </div>

  <div class="b-5 ml-12">
    <img src="../../assets/buy.png" alt="" class="w-24 h-24 b-5 mb-12 mx-24" >
    <h1  class="text-center font-bold text-slate-700 text-xl" >Buy a property</h1>
    <p class="text-center font-sans mt-5 text-slate-600" >
      Once you’ve set up your wallet of choice, connect it to EnftyMart by clicking the
    </p>
  </div>

</div>
